<p>roles works!</p>

<div class="row">
    <div class="col-lg-3">
        <p>
            {{ firstName }}
        </p>
    </div>
    <div class="col-lg-3">
        <p>
            {{ angularVersion }}
        </p>
    </div>
    <p>
        {{ selectedState }}
    </p>

</div>

<div class="row">
    <div class="col-lg-3">
        <p>{{ firstName }}</p>
    </div>
    <div class="col-lg-3">
        <p>{{ angularVersion }}</p>
    </div>
    <p>{{ selectedState }}</p>
</div>

<div class="row">
    <div class="col-lg-3">
        <input [value]="firstName" class="form-control" type="text"/>
    </div>
    <div class="col-lg-3">
        <input [(ngModel)]="firstName" type="text"/>
    </div>
    <select [(ngModel)]="selectedState">
        <option value="A">A</option>
        <option value="B">B</option>
    </select>
    <div class="col-lg-3">
        <button (click)="alerter()" class="btn btn-block">Hello</button>
    </div>
</div>

